<ng-template #content let-modal >
  <div class="modal-header">
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label>quantity</label>
        <div class="input-group">
          <input
            id="quantity"
            class="form-control"
            type="number"
            formControlName="quantity">
        </div>
        <div class="mb-3">
          <label>Exprire Date</label>
          <div class="input-group">
            <input
              id="expireDate"
              class="form-control"
              type="date"
              formControlName="expireDate">
          </div>
      </div>
      <div class="mb-3">
        <label for="name">Name</label>
        <div class="input-group">
          <input
            id="name"
            class="form-control"
            type="text"
            formControlName="nameProductTemplate"
          />
        </div>
      </div>
        <div class="mb-3">
          <label>ID Storage</label>
          <div class="input-group">
            <input
              id="storageId"
              class="form-control"
              type="number"
              formControlName="storageId">
          </div>
        </div>
      <button type="submit" class="btn btn-outline-dark">Save</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>

<ng-container>
  <button type="button" class="btn btn-primary" (click)="open(content)" >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
      <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
    </svg>
  </button>

</ng-container>

